{% extends "layout.html" %}

{% block title %} Change Password {% endblock %}

{% block body %}
    <form action="/change_password" method="post">
        <div class="small-container">
            <input autofocus class="form-control" name="c_password" required placeholder="Current Password" type="password">
            <input class="form-control" name="n_password" required placeholder="New Password" type="password">
            <input class="form-control" name="confirmpassword" required placeholder="Confirm New Password" type="password">
            <button class="center-button btn btn-primary" type="submit">Change Password</button>
        </div>
    </form>
{% endblock %}