# Flask
pip install -U Flask
# Flask session
pip install flask-session
# Requests
pip install requests

# Run the development server
python -m flask run --debug

# Set up database
cur.execute('''
    CREATE TABLE users (
        id INTEGER PRIMARY KEY NOT NULL,
        username TEXT NOT NULL,
        hash_password TEXT NOT NULL,
        UNIQUE (username)
    )
''')
cur.execute('''
    CREATE TABLE goals (
        id INTEGER PRIMARY KEY NOT NULL,
        user_id INTEGER  NOT NULL,
        type TEXT NOT NULL,
        name TEXT NOT NULL,
        description TEXT NOT NULL,
        goal_date DATE NOT NULL,
        date DATE NOT NULL,
        completed BOOL NOT NULL,
        completed_date DATE,
        FOREIGN KEY(user_id) REFERENCES users(id)
    )
''') 
